<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Контакты</h1>
    <p>Электронный адрес: {{email}}</p>
    <p>Phone: {{phone}}</p>
</body>
<html>